# Fortran module binaries
*.mod
*.o

# Build files
build/
debug_build/

#Binaries for plots and mcmc
bin/
mcmc/bin/
# Library
lib/

# Source code
src/*

# Data
data/

# Plots
figures/

#Python directories
__pycache__/
*__pycache__*

#sh scripts to get results

results.sh
run.sh
